body {
    background-color: #717171;
    margin: 1em auto;
    padding: 10px;
    text-align: center;
}

.messages #text-msg {
    color: black;
}

.messages #text-msg::placeholder {
    color: gray;
    opacity: 1;
}

#key-container {
    font-size: 13px;
    margin-left: -100px;
}

#key-container input {
    width: 400px;
}

#ans-text {
    margin-left: -62px;
}

h3 {
    margin-left: -30px;
    text-align: center;
}
